<?php
/**
 * @package Scandiweb\ABTesting
 * @author Krisjanis Veinbahs <krisjanisv@scandiweb.com>
 * @copyright Copyright (c) 2018 Scandiweb, Ltd (http://scandiweb.com)
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
/* @var \Scandiweb\ABTesting\Block\GoogleOptimize $block */
$configurations = $block->getConfigurations();
$googleAnalyticsId = $configurations->getGoogleAnalyticsId();
$googleOptimizeId = $configurations->getGoogleOptimizeId();
$googleWaitTimeout = $configurations->getWaitTimeout();
?>

<script class="hook-for-tests"></script>

<?php if ($configurations->getAsyncHideEnabled()): ?>
    <!-- Page hiding script while computing test re-directions -->
    <!-- By default async-hide is only client-side, but also server-side has been implemented -->
    <style>.async-hide { opacity: 0 !important; }</style>
    <script>
        /**
         * Slightly beautified and modified version of
         * Google Optimize's obfuscates async-hide code
         */
        (function(a, s, y, n, c, h, i, d, e) {
            // If html doesn't have async-hide class appended yet, do it
            // This is the modification because of server-side added async-hide class
            var containsAsyncClassExpression = "/" + y + "/";
            if (!s.className.search(containsAsyncClassExpression)) {
                s.className += ' ' + y;
            }

            // Store async start time and end function (used in GTM)
            h.start = 1 * new Date;
            h.end = i = function() {
                s.className = s.className.replace(RegExp(' ?' + y), '')
            };

            // Bind stored data to dataLayer
            (a[n] = a[n] || []).hide = h;

            // In case GTM isn't available, turn off async hide after timeout
            setTimeout(function() {
                i();
                h.end = null
            }, c);
            h.timeout = c;
        })(window, document.documentElement, 'async-hide', 'dataLayer', '<?= $googleWaitTimeout; ?>', {
            '<?= $googleOptimizeId; ?>': true // Store google optimize id
        });
    </script>
<?php endif; ?>

<!-- Load Analytics & Optimize -->
<script>
    window.dataLayer = window.dataLayer || [];

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    // Google Analytics tracker settings
    ga('create', '<?= $googleAnalyticsId; ?>', 'auto', {siteSpeedSampleRate: '100'});

    // Google Optimize container plugin
    ga('require', '<?= $googleOptimizeId; ?>');

    <?php if ($configurations->getSendPageView()): ?>
    // Send a pageview hit to Google Analytics.
    ga('send', 'pageview');
    <?php endif; ?>
</script>